<div style="padding:20px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); margin: 20px;"
     [ngStyle]="{'background-color': (selectedItem == item) ?  '#fff' : '#323233',
     'color': (selectedItem == item) ?  '#323233' : '#fff'}">

  <h3>Mitarbeiter {{item.id}}</h3>
  <hr>
  <p><b>Vorname:</b> {{item.vorname}}</p>
  <p><b>Nachname:</b> {{item.name}}</p>
  <hr>
  <p>
    <button type="button" class="btn btn-custom btn-sm" (click)="select(mitarbeiter)">
      <span class="glyphicon glyphicon-hand-up" aria-hidden="true"></span>
    </button>
    <a class="btn btn-sm btn-custom" [routerLink]="['/mitarbeiter-edit', item.id]">
      <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
    </a>
  </p>
</div>
