<br>
<br>
<ul class="nav nav-tabs">
    <li [ngClass]="{ 'active':  menu == 1}" role="presentation"><a (click)="menu = 1"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></a></li>
    <li [ngClass]="{ 'active':  menu == 2}" role="presentation"><a (click)="menu = 2"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></a></li>
    <li [ngClass]="{ 'active':  menu == 3}" role="presentation"><a (click)="menu = 3"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a></li>
</ul>


<div class="panel panel-primary" *ngIf="menu == 1">
  <div class="panel-heading">
    <h1 class="panel-title">Mitarbeiter suchen</h1>
  </div>
  <div class="panel-body">
    <div class="alert alert-info" role="alert" *ngIf="messageExists == true">
      <b>{{ message }}</b>
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="errorMessageExists == true">
      <b>{{ message }}</b>
    </div>
    <form #f="ngForm" novalidate>
    <div class="input-group">
      <span class="input-group-addon" id="basic-addon1">Name</span>
      <input [(ngModel)]="name" placeholder="Suche nach Mitarbeitern..."
             name="name"
             required
             minlength="3"
             maxlength="20"
             asyncMitarbeiter
             pattern="[a-zA-ZöäüßÖÄÜ]*"
             class="form-control">

      <span class="input-group-btn">
        <button [disabled]="!f?.controls?.name?.valid" class="btn btn-default" type="button" (click)="search()">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </button>
        <button class="btn btn-primary" type="button" (click)="searchAll()">
          <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
        </button>
      </span>
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="!f?.controls?.name?.valid">
       <div *ngIf="f?.controls?.name?.hasError('mitarbeiter')">
         <b>Warnung!&nbsp;</b><i>FALSCHER</i> Mitarbeiter Name!
      </div>
      <div *ngIf="f?.controls?.name?.pending">
        <b>Validierung...</b>
      </div>
      <div *ngIf="f?.controls?.name?.hasError('asyncMitarbeiter')">
        <b>Warnung!&nbsp;</b><i>KEINE</i> es wurden keine Mitarbeiter mit diesem <i>Namen</i> gefunden!
      </div>
      <div *ngIf="f?.controls?.name?.hasError('minlength')">
        <b>Warnung!&nbsp;</b>Mitarbeiter Name ist <i>ZU KURZ</i>!
      </div>
      <div *ngIf="f?.controls?.name?.hasError('pattern')">
        <b>Warnung!&nbsp;</b>Nur <i>BUCHSTABEN</i> sind erlaubt!
      </div>
      <div *ngIf="f?.controls?.name?.hasError('required')">
        <b>Warnung!&nbsp;</b>Dieses Feld ist nicht optional!
      </div>
    </div>
    </form>
    <br>
    <div *ngIf="mitarbeiters.length > 0" class="panel-footer">
      <div class="col-md-12">
      <table class="table"><br>
        <tr>
          <th>Vorname</th>
          <th>Name</th>
          <th>Termine</th>
          <th>Aktion</th>
        </tr>
        <tr *ngFor="let mitarbeiter of mitarbeiters" [ngClass]="{ 'active': mitarbeiter == selectedMitarbeiter }">
          <td>{{mitarbeiter.vorname}}</td>
          <td>{{mitarbeiter.name}}</td>
          <td *ngFor="let termin of mitarbeiter.termin">
            <b>{{termin.kommentar}}</b> am <i>{{termin.datum}}</i> in Raum: <u>{{termin.raum.bezeichnung}}</u>
          </td>
          <td>
            <button type="button" class="btn btn-success btn-sm" (click)="select(mitarbeiter)">
              <span class="glyphicon glyphicon-hand-up" aria-hidden="true"></span>
            </button>
            <a class="btn btn-sm btn-primary" [routerLink]="['/mitarbeiter-edit', mitarbeiter.id]">
              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
            </a>
            <button type="button" class="btn btn-danger btn-sm" (click)="delete(mitarbeiter)">
              <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
            </button>
          </td>
        </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-primary" *ngIf="menu == 2">
  <div class="panel-heading">
    <h2 class="panel-title">Mitarbeiter anlegen</h2>
  </div>
  <div class="panel-body">
    <div class="col-md-12">
      <div class="col-lg-3 col-md-3">
        <input [(ngModel)]="name" class="form-control" placeholder="Name">
      </div>
      <div class="col-lg-3 col-md-3">
        <input [(ngModel)]="vorname" class="form-control" placeholder="Vorname">
      </div>
      <div class="col-lg-2 col-md-1">
        <button class="btn btn-success" type="button" (click)="create();menu = 1">
          <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></button>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-primary" *ngIf="menu == 3">
  <div class="panel-heading">
    <h2 class="panel-title">Passenger Info</h2>
  </div>
  <div class="panel-body">
    <div *ngFor="let mitarbeiter of mitarbeiters" class="col-xs-12 col-lg-3 col-md-4 col-sm-6 ">
      <mitarbeiter-card
        [item]="mitarbeiter"
        [(selectedItem)]="selectedMitarbeiter">
      </mitarbeiter-card>
    </div>
    <pre>
      {{ selectedMitarbeiter | json }}
    </pre>
  </div>
</div>
