input.ng-invalid {
  border-left: solid 15px #ff0000;
}

input.ng-valid {
  border-left: solid 15px forestgreen;
}
.table th {
  font-size: 14pt;
}

.footer {
  position: fixed;
  bottom: 0;
  color: #ffffff;
  background-color: #323233;
  border-color: #222222;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#4b4b4d), to(#323233));
  background-image: -webkit-linear-gradient(top, #4b4b4d, 0%, #323233, 100%);
  background-image: -moz-linear-gradient(top, #4b4b4d 0%, #323233 100%);
  background-image: linear-gradient(to bottom, #4b4b4d 0%, #323233 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4b4b4d', endColorstr='#ff323233', GradientType=0);
}
.footer p {
  text-align: center;
}

.logo{
  width: 40px;
  border-radius: 5px;
  border: 2px solid #222222;
}
.panel-custom > .panel-heading-custom {
  background-color: #323233;
  border: 3px solid #323233;
  border-radius: 0;
  color: #ffffff;
}

.panel-custom {
  border: 3px solid #323233;
  border-radius: 0;
}

.form-control {
  border-color: #222222;
}

.alert-danger {
  border: 1px solid #ff0000;
  color: #ff0000;
  background-color: #ffffff;
  font-weight: 600;
  padding: 7px;
  border-radius: 5px;
}

.alert-success {
  color: #ffffff;
  background-color: #323233;
  border-color: #222222;
  border-radius: 5px;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#4b4b4d), to(#323233));
  background-image: -webkit-linear-gradient(top, #4b4b4d, 0%, #323233, 100%);
  background-image: -moz-linear-gradient(top, #4b4b4d 0%, #323233 100%);
  background-image: linear-gradient(to bottom, #4b4b4d 0%, #323233 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4b4b4d', endColorstr='#ff323233', GradientType=0);
}

.input-group-addon {
  background-color: #323233;
  border-color: #222222;
  color: #ffffff;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#4b4b4d), to(#323233));
  background-image: -webkit-linear-gradient(top, #4b4b4d, 0%, #323233, 100%);
  background-image: -moz-linear-gradient(top, #4b4b4d 0%, #323233 100%);
  background-image: linear-gradient(to bottom, #4b4b4d 0%, #323233 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4b4b4d', endColorstr='#ff323233', GradientType=0);
}

.btn-custom {
  color: #ffffff;
  background-color: #323233;
  border-color: #222222;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#4b4b4d), to(#323233));
  background-image: -webkit-linear-gradient(top, #4b4b4d, 0%, #323233, 100%);
  background-image: -moz-linear-gradient(top, #4b4b4d 0%, #323233 100%);
  background-image: linear-gradient(to bottom, #4b4b4d 0%, #323233 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4b4b4d', endColorstr='#ff323233', GradientType=0);

}
.btn-custom:hover {
  color: #e2fa83;
  background-color: #323233;
  border-color: #222222;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#4b4b4d), to(#323233));
  background-image: -webkit-linear-gradient(top, #4b4b4d, 0%, #323233, 100%);
  background-image: -moz-linear-gradient(top, #4b4b4d 0%, #323233 100%);
  background-image: linear-gradient(to bottom, #4b4b4d 0%, #323233 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4b4b4d', endColorstr='#ff323233', GradientType=0);
}

.btn-customInverse {
  color: #323233;
  background-color: #ffffff;
  border-color: #222222;
}
.btn-customInverse:hover {
  color: #323233;
  background-color: #ffffff;
  border-color: #222222;
}

.btn-loginLogout {
  color: #323233;
  background-color: #ffffff;
  border-color: #222222;
}
.btn-loginLogout:hover {
  color: #ffffff;
  background-color: #323233;
  border-color: #ffffff;
}

.btn-customDelete {
  color: red;
  background-color: #323233;
  border-color: #222222;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#4b4b4d), to(#323233));
  background-image: -webkit-linear-gradient(top, #4b4b4d, 0%, #323233, 100%);
  background-image: -moz-linear-gradient(top, #4b4b4d 0%, #323233 100%);
  background-image: linear-gradient(to bottom, #4b4b4d 0%, #323233 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4b4b4d', endColorstr='#ff323233', GradientType=0);
}
.btn-customDelete:hover {
  background-image: none !important;
  color: #323233;
  background-color: red;
  border-color: #222222;
}

.nav-tabs-custom > .active a {
  color: #ffffff;
  background-color: #323233;
  border: 3px solid #323233;
}

.nav-tabs-custom  a {
  color: #323233;
  background-color: #ffffff;
  border: 1px solid #323233;
}

.nav-tabs-custom > li > a:hover {
  color: #ffffff;
  background-color: #323233;
}

.navbar-custom {
  border-radius: 5px;
  background-color: #323233;
  border-color: #222222;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#4b4b4d), to(#323233));
  background-image: -webkit-linear-gradient(top, #4b4b4d, 0%, #323233, 100%);
  background-image: -moz-linear-gradient(top, #4b4b4d 0%, #323233 100%);
  background-image: linear-gradient(to bottom, #4b4b4d 0%, #323233 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff4b4b4d', endColorstr='#ff323233', GradientType=0);
}

.nav-custom .navbar-nav .navbar-right{
  color: #ffffff;
}

.navbar-custom .navbar-brand {
  color: #e2fa83;
}
.navbar-custom .navbar-brand:hover,
.navbar-custom .navbar-brand:focus {
  color: #e6e6e6;
  background-color: transparent;
}
.navbar-custom .navbar-text {
  color: #ffffff;
}
.navbar-custom .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus {
  color: #e2fa83;
  background-color: transparent;
}
.navbar-custom .navbar-nav > .active > a,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus {
  color: #e2fa83;
  background-color: #222222;
  background-image: -webkit-gradient(linear, left 0%, left 100%, from(#222222), to(#3b3b3c));
  background-image: -webkit-linear-gradient(top, #222222, 0%, #3b3b3c, 100%);
  background-image: -moz-linear-gradient(top, #222222 0%, #3b3b3c 100%);
  background-image: linear-gradient(to bottom, #222222 0%, #3b3b3c 100%);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff3b3b3c', GradientType=0);
}
.navbar-custom .navbar-nav > .disabled > a,
.navbar-custom .navbar-nav > .disabled > a:hover,
.navbar-custom .navbar-nav > .disabled > a:focus {
  color: #cccccc;
  background-color: transparent;
}
.navbar-custom .navbar-toggle {
  border-color: #dddddd;
}
.navbar-custom .navbar-toggle:hover,
.navbar-custom .navbar-toggle:focus {
  background-color: #dddddd;
}
.navbar-custom .navbar-toggle .icon-bar {
  background-color: #cccccc;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
  border-color: #202021;
}
.navbar-custom .navbar-nav > .dropdown > a:hover .caret,
.navbar-custom .navbar-nav > .dropdown > a:focus .caret {
  border-top-color: #e2fa83;
  border-bottom-color: #e2fa83;
}
.navbar-custom .navbar-nav > .open > a,
.navbar-custom .navbar-nav > .open > a:hover,
.navbar-custom .navbar-nav > .open > a:focus {
  background-color: #222222;
  color: #e2fa83;
}
.navbar-custom .navbar-nav > .open > a .caret,
.navbar-custom .navbar-nav > .open > a:hover .caret,
.navbar-custom .navbar-nav > .open > a:focus .caret {
  border-top-color: #e2fa83;
  border-bottom-color: #e2fa83;
}
.navbar-custom .navbar-nav > .dropdown > a .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}
@media (max-width: 767) {
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #e2fa83;
    background-color: transparent;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #e2fa83;
    background-color: #222222;
  }
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,
  .navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {
    color: #cccccc;
    background-color: transparent;
  }
}
.navbar-custom .navbar-link {
  color: #ffffff;
}
.navbar-custom .navbar-link:hover {
  color: #e2fa83;
}
