<br>
<br>
<ul class="nav nav-tabs nav-tabs-custom">
  <li [ngClass]="{ 'active':  menu == 1}" role="presentation"><a (click)="menu = 1"><span
    class="glyphicon glyphicon-search" aria-hidden="true"></span></a></li>
  <li [ngClass]="{ 'active':  menu == 2}" role="presentation"><a (click)="menu = 2"><span
    class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span></a></li>
  <li *ngIf="termins.length > 0"  [ngClass]="{ 'active':  menu == 3}" role="presentation"><a (click)="menu = 3"><span
    class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></a></li>
</ul>


<div class="panel panel-custom" *ngIf="menu == 1">
  <div class="panel-heading panel-heading-custom">
    <h1 class="panel-title"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>&nbsp;Termin</h1>
  </div>
  <div class="panel-body">
    <div class="alert alert-success" role="alert" *ngIf="messageExists == true">
      <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>&nbsp;<b>{{ message }}</b>
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="errorMessageExists == true">
      <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>&nbsp;<b>{{ errorMessage }}</b>
    </div>
    <form #f="ngForm" novalidate>
      <div class="input-group">
        <span class="input-group-addon" id="basic-addon1">Datum</span>
        <input type="date" [(ngModel)]="datum" placeholder="Suche nach Terminen..."
               name="datum"
               required
               class="form-control">


        <span class="input-group-btn">
        <button [disabled]="!f?.controls?.datum?.valid" class="btn btn-customInverse" type="button" (click)="search()">
          <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
        </button>
           <button class="btn btn-custom" type="button" (click)="searchAll()">
          <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
        </button>

      </span>
      </div>
      <div class="alert alert-danger" role="alert" *ngIf="!f?.controls?.datum?.valid">
        <div *ngIf="f?.controls?.datum?.hasError('required')">
          <b><span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>&nbsp;</b>Dieses Feld ist nicht
          optional!
        </div>
      </div>
    </form>
    <br>
    <div *ngIf="termins.length > 0" class="container">
      <div class="col-md-11 table-responsive">
        <table class="table table-hover"><br>
          <tr>
            <th>Datum</th>
            <th>Kommentar</th>
            <th>Mitarbeiter</th>
            <th>Raum</th>
            <th>Aktion</th>
          </tr>
          <tr *ngFor="let termin of termins" [ngClass]="{ 'active': termin == selectedTermin }">
            <td><b>{{termin.datum}}</b></td>
            <td><b>{{termin.kommentar}}</b></td>
            <td *ngFor="let mitarbeiter of termin.mitarbeiter"><i>{{mitarbeiter.vorname}} {{mitarbeiter.name}}</i></td>
            <td *ngFor="let raum of termin.raum">
              {{raum.bezeichnung}}
            </td>
            <td>
              <button type="button" class="btn btn-custom btn-sm" (click)="select(termin)">
                <span class="glyphicon glyphicon-hand-up" aria-hidden="true"></span>
              </button>
              <a class="btn btn-sm btn-custom" [routerLink]="['/termin-edit', termin.id]">
                <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
              </a>
              <button type="button" class="btn btn-customDelete btn-sm" (click)="delete(termin)">
                <span class="glyphicon glyphicon-minus-sign" aria-hidden="true"></span>
              </button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-custom" *ngIf="menu == 2">
  <div class="panel-heading panel-heading-custom">
    <h1 class="panel-title"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>&nbsp;Termin</h1>
  </div>
  <form #f="ngForm" novalidate>
    <div class="panel-body">
      <div class="input-group col-md-12">
        <div class="col-md-5">
          <input type="date"  [(ngModel)]="datum" class="form-control" placeholder="Datum"
                 name="datum"
                 required>
        </div>
        <div class="col-md-7">
          <input [(ngModel)]="kommentar" class="form-control" placeholder="Kommentar"
                 name="kommentar" required>
        </div>
        <div class="col-md-5">
          <div class="alert alert-danger" role="alert" *ngIf="!f?.controls?.datum?.valid">
            <div *ngIf="f?.controls?.datum?.hasError('required')">
              <b><span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>&nbsp;</b>Das Feld "Datum" ist nicht
              optional!
            </div>
          </div>
        </div>
        <div class="col-md-7">
          <div class="alert alert-danger" role="alert" *ngIf="!f?.controls?.kommentar?.valid">
            <div *ngIf="f?.controls?.kommentar?.hasError('required')">
              <b><span class="glyphicon glyphicon-warning-sign" aria-hidden="true"></span>&nbsp;</b>Das Feld "Kommentar" ist nicht
              optional!
            </div>
          </div>
        </div>
        <div class="col-md-5">
            <select [(ngModel)]="mitarbeiter" class="form-control" id="selectorMitarbeiter" name="mitarbeiter" required>
              <option *ngFor="let m of mitarbeitersSearch" value="{{m.id}}">{{m.id | mitarbeiterFullName}}</option>
            </select>
        </div>
        <div class="col-md-5">
          <select [(ngModel)]="raum" class="form-control" id="selectorRaum" name="raum" required>
            <option *ngFor="let r of raumsSearch" value="{{r.id}}">{{r.id | raumBezeichnung}}</option>
          </select>
        </div>
        <div class="col-md-2">
          <button [disabled]="!f?.controls?.datum?.valid"   class="btn btn-custom btn-block" type="button" (click)="create();menu = 1">
            <span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
          </button>
        </div>
      </div>

    </div>
  </form>
</div>

<div class="panel panel-custom" *ngIf="menu == 3">
  <div class="panel-heading panel-heading-custom">
    <h1 class="panel-title"><span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>&nbsp;Termin</h1>
  </div>
  <div class="panel-body">
    <div class="col-md-12">
      <div *ngFor="let termin of termins" class="col-xs-12 col-lg-3 col-md-4 col-sm-6 ">
        <termin-card
          [item]="termin"
          [(selectedItem)]="selectedTermin">
        </termin-card>
      </div>
    </div>
    <div class="col-md-12" *ngIf="termins.length > 0">
      <pre>
        {{ selectedTermin | json }}
      </pre>
    </div>
  </div>
</div>
